
#logo-text {
  fill: var(--text);
}
.subtitle {
  color: var(--main);
  font-size: 1.5em;
}
// .description blockquote:before {
//   content: '';
//   background-image: url(/media/icon.svg);
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: 0 0.25em;
//   width: 0.5em;
//   height: 1em;
// }

// Header

#body-inicio #header {
  .column--item-1 {
    .image {
      max-width: 26em;
    }
    .column__description {
      margin: 0;
    }
  }
  .column__description {
    max-width: 35em;
  }
  .column--item-2,
  .column--item-3,
  .column--item-4 {
    .subtitle {
      font-size: fluid-size(3 * 16px, 8 * 18px);
      margin: 0;
    }
    .title + .subtitle {
      margin-top: -0.25em;
    }
  }
}

// Header Animations

@keyframes show-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(3rem);
    opacity: 0;
  }
}
#body-inicio #header {
  .column {
    --show-animation-name: show-down;
    .image,
    .subtitle,
    .buttons,
    .description > * {
      animation: var(--show-animation-name) .5s 0s both;
    }
  }
  .slider__item--active {
    --show-animation-name: show-from;
    @mixin show-from($delay) {
      animation-delay: .25s * $delay;
    }
    &.column--item-1 {
      .image    { @include show-from(0); }
      .subtitle { @include show-from(1); }
      .buttons  { @include show-from(2); }
    }
    &.column:not(.column--item-1) .description > {
      :nth-child(1) { @include show-from(0); }
      :nth-child(2) { @include show-from(1); }
      * {             @include show-from(2); }
      :last-child {   @include show-from(3); }
    }
  }
}

// Sections

#body-reuniones-eroticas #header,
#reuniones-eroticas {
  .bg-figure-image {
    &, & img {
      object-position: top;
    }
  }
}
#eva-camacho {
  .subtitle {
    font-size: 2em;
  }
}
#fotos {
  .gallery__image {
    aspect-ratio: 4/3;
  }
}
#header .jueves {
  margin-top: 0;
}

